.cookie_header {
  border-bottom: 1px solid #ccc;
  background-color: #F8F8FA;
  width: 100%;
  position: relative;
  z-index: 1000; }

.message_wrapper {
  text-align: center;
  padding: 10px; }

.close {
  float: right;
  text-decoration: none; }

.landing_page .cookie_header {
  position: fixed;
  padding-top: 60px; }
